
//COLORES



$azul:   #005EB8;
$rojo:   #D50032;
$claro:  #F6F9FE;
$oscuro: #041E49;

$primary:    $azul;
$dark:     $oscuro;
$secondary:  $rojo;
$light:     $claro;

$body-color:                $dark;
$body-bg:                   $light;


//FUENTES

$font-size-root:              18px;
$font-size-base:              1rem;
$line-height-base:            1.4;

$h1-font-size:                $font-size-base * 2.986;//scale 1.200 minor third 53,75px
$h2-font-size:                $font-size-base * 2.488;
$h3-font-size:                $font-size-base * 2.074;
$h4-font-size:                $font-size-base * 1.728;
$h5-font-size:                $font-size-base * 1.44;
$h6-font-size:                $font-size-base * 1.2;

$headings-font-weight:        700;
$paragraph-margin-bottom:   1.4rem;

//ESPACIADOS
$spacer: 16px;
$spacers: (
  0:  0,
  1:  $spacer * 1.5, //24px
  2:  $spacer * 2,   //32px
  3:  $spacer * 2.5, //40px
  4:  $spacer * 3,   //48px
  5:  $spacer * 3.5, //56px
  6:  $spacer * 4,   //64px
  7:  $spacer * 4.5, //72px
  8:  $spacer * 5,   //80px
  9:  $spacer * 5.5, //88px
  10: $spacer * 6    //96px
);

//POSICIONES

$position-values: (
  0: 0,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

